---
const { title } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body style="font-family: sans-serif; max-width: 700px; margin: 40px auto;">
    <h1>SnapProtein Blog</h1>
    <a href="/">Home</a>
    <hr />
    <slot />
  </body>
</html>